<a href="https://colab.research.google.com/github/VictorHolanda21/fii-com-python/blob/main/Fundos_Imobili%C3%A1rios_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Análise de Fundo de Investimento Imobiliários (FII) com Python**
---

## **1. Fonte utilizada**

Site: [Funds Explorer](https://www.fundsexplorer.com.br/ranking)<br>
YouTube: [Trading com Dados](https://www.youtube.com/watch?v=CMs1jZEIXYo&t=2314s)

## **2. Bibliotecas utilizadas**

In [142]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [143]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

## **3. Webscraping para Rendimentos de Fundos Imobiliários (FIIs)**

In [144]:
fii_url = requests.get("https://www.fundsexplorer.com.br/ranking")

In [145]:
# fii_url.text

In [146]:
fii_bs4 = BeautifulSoup(fii_url.text, "html.parser")
## fii_bs4.head()

In [147]:
fii_table_div = fii_bs4.findAll(attrs={'id':'scroll-wrapper'})

In [148]:
fii_table = fii_table_div[0].findAll('table')

In [149]:
type(fii_table)

bs4.element.ResultSet

In [150]:
fii_df = pd.read_html(str(fii_table[0]))[0]

In [151]:
fii_df.columns

Index(['Códigodo fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'DividendYield', 'DY (3M)Acumulado', 'DY (6M)Acumulado',
       'DY (12M)Acumulado', 'DY (3M)Média', 'DY (6M)Média', 'DY (12M)Média',
       'DY Ano', 'Variação Preço', 'Rentab.Período', 'Rentab.Acumulada',
       'PatrimônioLíq.', 'VPA', 'P/VPA', 'DYPatrimonial',
       'VariaçãoPatrimonial', 'Rentab. Patr.no Período',
       'Rentab. Patr.Acumulada', 'VacânciaFísica', 'VacânciaFinanceira',
       'QuantidadeAtivos'],
      dtype='object')

In [152]:
str(list(fii_df['Códigodo fundo'].sort_values()))

"['ABCP11', 'AFHI11', 'AFOF11', 'AIEC11', 'ALMI11', 'ALZR11', 'APTO11', 'ARCT11', 'ARRI11', 'ATSA11', 'BARI11', 'BBFI11B', 'BBFO11', 'BBGO11', 'BBIM11', 'BBPO11', 'BBRC11', 'BCFF11', 'BCIA11', 'BCRI11', 'BICE11', 'BICR11', 'BIME11', 'BLCA11', 'BLCP11', 'BLMC11', 'BLMG11', 'BLMO11', 'BLMR11', 'BMLC11', 'BNFS11', 'BPFF11', 'BPML11', 'BRCO11', 'BRCR11', 'BREV11', 'BRLA11', 'BTAL11', 'BTCR11', 'BTLG11', 'BTRA11', 'BTSG11', 'BTWR11', 'BZLI11', 'CACR11', 'CARE11', 'CBOP11', 'CCRF11', 'CEOC11', 'CJCT11', 'CNES11', 'CORM11', 'CPFF11', 'CPTS11', 'CRFF11', 'CTXT11', 'CVBI11', 'CXAG11', 'CXCE11B', 'CXCI11', 'CXCO11', 'CXRI11', 'CXTL11', 'CYCR11', 'DEVA11', 'DRIT11B', 'DVFF11', 'EDFO11B', 'EDGA11', 'EQIR11', 'ERCR11', 'ERPA11', 'EURO11', 'EVBI11', 'FAED11', 'FAMB11B', 'FATN11', 'FCFL11', 'FEXC11', 'FIGS11', 'FIIB11', 'FIIP11B', 'FISC11', 'FIVN11', 'FLCR11', 'FLMA11', 'FLRP11', 'FMOF11', 'FPAB11', 'FVPQ11', 'GALG11', 'GAME11', 'GCFF11', 'GCRA11', 'GCRI11', 'GESE11B', 'GGRC11', 'GSFI11', 'GTLG11', 'GTWR11', 'HAAA11', 'HABT11', 'HBRH11', 'HCHG11', 'HCRI11', 'HCTR11', 'HFOF11', 'HGBS11', 'HGCR11', 'HGFF11', 'HGIC11', 'HGLG11', 'HGPO11', 'HGRE11', 'HGRS11', 'HGRU11', 'HLOG11', 'HOSI11', 'HPDP11', 'HRDF11', 'HREC11', 'HSAF11', 'HSLG11', 'HSML11', 'HSRE11', 'HTMX11', 'HUSC11', 'IBCR11', 'IBFF11', 'IDFI11', 'IRDM11', 'IRIM11', 'ITIP11', 'ITIT11', 'JFLL11', 'JGPX11', 'JPPA11', 'JRDM11', 'JSAF11', 'JSRE11', 'KFOF11', 'KINP11', 'KISU11', 'KNCA11', 'KNCR11', 'KNHY11', 'KNIP11', 'KNRE11', 'KNRI11', 'KNSC11', 'LASC11', 'LFTT11', 'LGCP11', 'LUGG11', 'LVBI11', 'MALL11', 'MATV11', 'MAXR11', 'MBRF11', 'MCCI11', 'MCHF11', 'MCHY11', 'MFAI11', 'MFII11', 'MGCR11', 'MGFF11', 'MGHT11', 'MGLG11', 'MORC11', 'MORE11', 'MXRF11', 'NAVT11', 'NCHB11', 'NEWL11', 'NEWU11', 'NSLU11', 'NVHO11', 'NVIF11B', 'ONEF11', 'ORPD11', 'OUFF11', 'OUJP11', 'OULG11', 'OURE11', 'PABY11', 'PATC11', 'PATL11', 'PLCR11', 'PLOG11', 'PLRI11', 'PORD11', 'PQAG11', 'PQDP11', 'PRSV11', 'PVBI11', 'QAGR11', 'QAMI11', 'QIRI11', 'RBCO11', 'RBDS11', 'RBED11', 'RBFF11', 'RBGS11', 'RBHG11', 'RBHY11', 'RBIR11', 'RBLG11', 'RBRD11', 'RBRF11', 'RBRL11', 'RBRP11', 'RBRR11', 'RBRS11', 'RBRY11', 'RBVA11', 'RBVO11', 'RCRB11', 'RDPD11', 'RECR11', 'RECT11', 'RECX11', 'RELG11', 'RFOF11', 'RMAI11', 'RNDP11', 'RNGO11', 'RRCI11', 'RVBI11', 'RZAG11', 'RZAK11', 'RZTR11', 'SADI11', 'SARE11', 'SCPF11', 'SDIL11', 'SEQR11', 'SHPH11', 'SNCI11', 'SNFF11', 'SPTW11', 'SPVJ11', 'SRVD11', 'STRX11', 'TEPP11', 'TGAR11', 'TORD11', 'TRNT11', 'TRXF11', 'URPR11', 'VCJR11', 'VCRR11', 'VGHF11', 'VGIA11', 'VGIP11', 'VGIR11', 'VIFI11', 'VILG11', 'VINO11', 'VISC11', 'VIUR11', 'VJFD11', 'VLOL11', 'VOTS11', 'VRTA11', 'VSHO11', 'VSLH11', 'VTLT11', 'VVPR11', 'VXXV11', 'WPLZ11', 'WTSP11B', 'XPCA11', 'XPCI11', 'XPCM11', 'XPHT11', 'XPIN11', 'XPLG11', 'XPML11', 'XPPR11', 'XPSF11', 'XTED11', 'YUFI11B']"

## **4. Organização dos dados extraídos**

In [153]:
# Cópia de segurança do Data frame que será utilizado

fii_df_backup = fii_df.copy()

In [154]:
fii_df.head()

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
0,FIVN11,Shoppings,"R$ 2,08",1248.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 65.678.487,99","R$ 6,98",30.0,NaN,NaN,NaN,NaN,"56,00%",NaN,1
1,BZLI11,Títulos e Val. Mob.,"R$ 14,70",44041.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 431.076.817,02","R$ 10,70",137.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,XTED11,Lajes Corporativas,"R$ 6,12",78.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 27.305.951,24","R$ 13,89",44.0,NaN,NaN,NaN,NaN,"0,00%","100,00%",1
3,ALMI11,Lajes Corporativas,"R$ 950,00",90.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 249.632.973,43","R$ 2.245,37",42.0,NaN,NaN,NaN,NaN,"64,05%",NaN,1
4,PABY11,Híbrido,"R$ 7,45",95.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ -9.546.407,61","R$ -12,59",-59.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [155]:
fii_df['Preço Atual']

0        R$ 2,08
1       R$ 14,70
2        R$ 6,12
3      R$ 950,00
4        R$ 7,45
         ...
277    R$ 387,29
278     R$ 86,70
279     R$ 77,98
280     R$ 74,68
281    R$ 114,80
Name: Preço Atual, Length: 282, dtype: object

In [156]:
fii_df.iloc[0]

Códigodo fundo                       FIVN11
Setor                             Shoppings
Preço Atual                         R$ 2,08
Liquidez Diária                      1248.0
Dividendo                           R$ 0,00
DividendYield                         0,00%
DY (3M)Acumulado                      0,00%
DY (6M)Acumulado                      0,00%
DY (12M)Acumulado                     0,00%
DY (3M)Média                          0,00%
DY (6M)Média                          0,00%
DY (12M)Média                         0,00%
DY Ano                                  NaN
Variação Preço                        0,00%
Rentab.Período                        0,00%
Rentab.Acumulada                      0,00%
PatrimônioLíq.             R$ 65.678.487,99
VPA                                 R$ 6,98
P/VPA                                  30.0
DYPatrimonial                           NaN
VariaçãoPatrimonial                     NaN
Rentab. Patr.no Período                 NaN
Rentab. Patr.Acumulada                  NaN
VacânciaFísica                       56,00%
VacânciaFinanceira                      NaN
QuantidadeAtivos                          1
Name: 0, dtype: object

In [157]:
fii_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           282 non-null    object
 1   Setor                    278 non-null    object
 2   Preço Atual              274 non-null    object
 3   Liquidez Diária          274 non-null    float64
 4   Dividendo                282 non-null    object
 5   DividendYield            276 non-null    object
 6   DY (3M)Acumulado         276 non-null    object
 7   DY (6M)Acumulado         276 non-null    object
 8   DY (12M)Acumulado        276 non-null    object
 9   DY (3M)Média             276 non-null    object
 10  DY (6M)Média             276 non-null    object
 11  DY (12M)Média            276 non-null    object
 12  DY Ano                   262 non-null    object
 13  Variação Preço           276 non-null    object
 14  Rentab.Período           276 non-null    object
 15  Rentab.Acumulada         276 non-null    object
 16  PatrimônioLíq.           282 non-null    object
 17  VPA                      282 non-null    object
 18  P/VPA                    274 non-null    float64
 19  DYPatrimonial            246 non-null    object
 20  VariaçãoPatrimonial      246 non-null    object
 21  Rentab. Patr.no Período  246 non-null    object
 22  Rentab. Patr.Acumulada   246 non-null    object
 23  VacânciaFísica           123 non-null    object
 24  VacânciaFinanceira       30 non-null     object
 25  QuantidadeAtivos         282 non-null    int64
dtypes: float64(2), int64(1), object(23)
memory usage: 57.4+ KB

In [158]:
fii_df = fii_df.replace(to_replace = r'^R\$ ', value = '',regex = True)

In [159]:
fii_df.head()

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
0,FIVN11,Shoppings,"2,08",1248.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"65.678.487,99","6,98",30.0,NaN,NaN,NaN,NaN,"56,00%",NaN,1
1,BZLI11,Títulos e Val. Mob.,"14,70",44041.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"431.076.817,02","10,70",137.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,XTED11,Lajes Corporativas,"6,12",78.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"27.305.951,24","13,89",44.0,NaN,NaN,NaN,NaN,"0,00%","100,00%",1
3,ALMI11,Lajes Corporativas,"950,00",90.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"249.632.973,43","2.245,37",42.0,NaN,NaN,NaN,NaN,"64,05%",NaN,1
4,PABY11,Híbrido,"7,45",95.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"-9.546.407,61","-12,59",-59.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [160]:
fii_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           282 non-null    object
 1   Setor                    278 non-null    object
 2   Preço Atual              274 non-null    object
 3   Liquidez Diária          274 non-null    float64
 4   Dividendo                282 non-null    object
 5   DividendYield            276 non-null    object
 6   DY (3M)Acumulado         276 non-null    object
 7   DY (6M)Acumulado         276 non-null    object
 8   DY (12M)Acumulado        276 non-null    object
 9   DY (3M)Média             276 non-null    object
 10  DY (6M)Média             276 non-null    object
 11  DY (12M)Média            276 non-null    object
 12  DY Ano                   262 non-null    object
 13  Variação Preço           276 non-null    object
 14  Rentab.Período           276 non-null    object
 15  Rentab.Acumulada         276 non-null    object
 16  PatrimônioLíq.           282 non-null    object
 17  VPA                      282 non-null    object
 18  P/VPA                    274 non-null    float64
 19  DYPatrimonial            246 non-null    object
 20  VariaçãoPatrimonial      246 non-null    object
 21  Rentab. Patr.no Período  246 non-null    object
 22  Rentab. Patr.Acumulada   246 non-null    object
 23  VacânciaFísica           123 non-null    object
 24  VacânciaFinanceira       30 non-null     object
 25  QuantidadeAtivos         282 non-null    int64
dtypes: float64(2), int64(1), object(23)
memory usage: 57.4+ KB

In [161]:
fii_df['PatrimônioLíq.']

0         65.678.487,99
1        431.076.817,02
2         27.305.951,24
3        249.632.973,43
4         -9.546.407,61
             ...
277       50.992.934,89
278      195.230.258,40
279      376.309.193,73
280      489.344.835,30
281    2.187.502.617,24
Name: PatrimônioLíq., Length: 282, dtype: object

In [162]:
fii_df['PatrimônioLíq.'] = fii_df['PatrimônioLíq.'].str.replace('.','')
fii_df['Preço Atual'] = fii_df['Preço Atual'].str.replace('.','')
fii_df['Dividendo'] = fii_df['Dividendo'].str.replace('.','')
fii_df['VPA'] = fii_df['VPA'].str.replace('.','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [163]:
fii_df.head()

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
0,FIVN11,Shoppings,"2,08",1248.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"65678487,99","6,98",30.0,NaN,NaN,NaN,NaN,"56,00%",NaN,1
1,BZLI11,Títulos e Val. Mob.,"14,70",44041.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"431076817,02","10,70",137.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,XTED11,Lajes Corporativas,"6,12",78.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"27305951,24","13,89",44.0,NaN,NaN,NaN,NaN,"0,00%","100,00%",1
3,ALMI11,Lajes Corporativas,"950,00",90.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"249632973,43","2245,37",42.0,NaN,NaN,NaN,NaN,"64,05%",NaN,1
4,PABY11,Híbrido,"7,45",95.0,"0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"-9546407,61","-12,59",-59.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [164]:
fii_df['PatrimônioLíq.'] = fii_df['PatrimônioLíq.'].str.replace(',','.')
fii_df['Preço Atual'] = fii_df['Preço Atual'].str.replace(',','.')
fii_df['Dividendo'] = fii_df['Dividendo'].str.replace(',','.')
fii_df['VPA'] = fii_df['VPA'].str.replace(',','.')

In [165]:
fii_df['PatrimônioLíq.']

0        65678487.99
1       431076817.02
2        27305951.24
3       249632973.43
4        -9546407.61
           ...
277      50992934.89
278     195230258.40
279     376309193.73
280     489344835.30
281    2187502617.24
Name: PatrimônioLíq., Length: 282, dtype: object

In [166]:
fii_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           282 non-null    object
 1   Setor                    278 non-null    object
 2   Preço Atual              274 non-null    object
 3   Liquidez Diária          274 non-null    float64
 4   Dividendo                282 non-null    object
 5   DividendYield            276 non-null    object
 6   DY (3M)Acumulado         276 non-null    object
 7   DY (6M)Acumulado         276 non-null    object
 8   DY (12M)Acumulado        276 non-null    object
 9   DY (3M)Média             276 non-null    object
 10  DY (6M)Média             276 non-null    object
 11  DY (12M)Média            276 non-null    object
 12  DY Ano                   262 non-null    object
 13  Variação Preço           276 non-null    object
 14  Rentab.Período           276 non-null    object
 15  Rentab.Acumulada         276 non-null    object
 16  PatrimônioLíq.           282 non-null    object
 17  VPA                      282 non-null    object
 18  P/VPA                    274 non-null    float64
 19  DYPatrimonial            246 non-null    object
 20  VariaçãoPatrimonial      246 non-null    object
 21  Rentab. Patr.no Período  246 non-null    object
 22  Rentab. Patr.Acumulada   246 non-null    object
 23  VacânciaFísica           123 non-null    object
 24  VacânciaFinanceira       30 non-null     object
 25  QuantidadeAtivos         282 non-null    int64
dtypes: float64(2), int64(1), object(23)
memory usage: 57.4+ KB

In [167]:
fii_df['PatrimônioLíq.'] = fii_df['PatrimônioLíq.'].astype(float)
fii_df['Dividendo'] = fii_df['Dividendo'].astype(float)
fii_df['Preço Atual'] = fii_df['Preço Atual'].astype(float)
fii_df['VPA'] = fii_df['VPA'].astype(float)

In [168]:
fii_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           282 non-null    object
 1   Setor                    278 non-null    object
 2   Preço Atual              274 non-null    float64
 3   Liquidez Diária          274 non-null    float64
 4   Dividendo                282 non-null    float64
 5   DividendYield            276 non-null    object
 6   DY (3M)Acumulado         276 non-null    object
 7   DY (6M)Acumulado         276 non-null    object
 8   DY (12M)Acumulado        276 non-null    object
 9   DY (3M)Média             276 non-null    object
 10  DY (6M)Média             276 non-null    object
 11  DY (12M)Média            276 non-null    object
 12  DY Ano                   262 non-null    object
 13  Variação Preço           276 non-null    object
 14  Rentab.Período           276 non-null    object
 15  Rentab.Acumulada         276 non-null    object
 16  PatrimônioLíq.           282 non-null    float64
 17  VPA                      282 non-null    float64
 18  P/VPA                    274 non-null    float64
 19  DYPatrimonial            246 non-null    object
 20  VariaçãoPatrimonial      246 non-null    object
 21  Rentab. Patr.no Período  246 non-null    object
 22  Rentab. Patr.Acumulada   246 non-null    object
 23  VacânciaFísica           123 non-null    object
 24  VacânciaFinanceira       30 non-null     object
 25  QuantidadeAtivos         282 non-null    int64
dtypes: float64(6), int64(1), object(19)
memory usage: 57.4+ KB

In [169]:
np.max(fii_df['Preço Atual'])

76000.0

In [170]:
np.min(fii_df['Preço Atual'])

0.7

In [171]:
fii_df.iloc[0:10].transpose()

,0,1,2,3,4,5,6,7,8,9
Códigodo fundo,FIVN11,BZLI11,XTED11,ALMI11,PABY11,ORPD11,FISC11,BNFS11,HSML11,SHPH11
Setor,Shoppings,Títulos e Val. Mob.,Lajes Corporativas,Lajes Corporativas,Híbrido,Títulos e Val. Mob.,Lajes Corporativas,Outros,Shoppings,Shoppings
Preço Atual,2.08,14.7,6.12,950.0,7.45,100.0,165.0,118.0,78.08,795.0
Liquidez Diária,1248.0,44041.0,78.0,90.0,95.0,4.0,200.0,203.0,21752.0,66.0
Dividendo,0.0,0.0,0.0,0.0,0.0,1.38,0.22,1.42,0.6,3.35
DividendYield,"0,00%","0,00%","0,00%","0,00%","0,00%",NaN,"0,00%","1,20%","0,74%","0,41%"
DY (3M)Acumulado,"0,00%","0,00%","0,00%","0,00%","0,00%",NaN,"0,00%","3,22%","2,27%","1,34%"
DY (6M)Acumulado,"0,00%","0,00%","0,00%","0,00%","0,00%",NaN,"0,00%","6,37%","4,37%","2,81%"
DY (12M)Acumulado,"0,00%","0,00%","0,00%","0,00%","0,00%",NaN,"0,00%","11,76%","7,72%","4,75%"
DY (3M)Média,"0,00%","0,00%","0,00%","0,00%","0,00%",NaN,"0,00%","1,07%","0,76%","0,45%"
DY (6M)Média,"0,00%","0,00%","0,00%","0,00%","0,00%",NaN,"0,00%","1,06%","0,73%","0,47%"
DY (12M)Média,"0,00%","0,00%","0,00%","0,00%","0,00%",NaN,"0,00%","0,98%","0,64%","0,40%"
DY Ano,NaN,"0,00%","0,00%","0,00%","0,00%",NaN,NaN,"4,25%","2,99%","1,94%"
Variação Preço,"0,00%","0,68%","1,10%","2,27%","-19,84%",NaN,"0,00%","-1,25%","0,32%","-0,35%"
Rentab.Período,"0,00%","0,68%","1,10%","2,27%","-19,84%",NaN,"0,00%","-0,07%","1,07%","0,06%"
Rentab.Acumulada,"0,00%","1,14%","-37,83%","-28,29%","-31,62%",NaN,"0,00%","-2,60%","9,17%","4,60%"
PatrimônioLíq.,65678487.99,431076817.02,27305951.24,249632973.43,-9546407.61,43807234.41,258955140.83,69417286.55,1479543692.13,540384470.89
VPA,6.98,10.7,13.89,2245.37,-12.59,151.06,152.33,99.17,93.76,887.4
P/VPA,30.0,137.0,44.0,42.0,-59.0,66.0,108.0,119.0,83.0,90.0
DYPatrimonial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,43%","0,64%","0,40%"
VariaçãoPatrimonial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,01%","-0,06%","-0,04%"
Rentab. Patr.no Período,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,44%","0,58%","0,36%"
Rentab. Patr.Acumulada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"5,44%","1,59%","1,30%"
VacânciaFísica,"56,00%",NaN,"0,00%","64,05%",NaN,NaN,NaN,"0,00%","4,50%","10,80%"
VacânciaFinanceira,NaN,NaN,"100,00%",NaN,NaN,NaN,NaN,NaN,NaN,NaN
QuantidadeAtivos,1,0,1,1,1,0,0,18,5,1

In [172]:
fii_df = fii_df.replace(to_replace = r'%$', value = '',regex = True)

In [173]:
fii_df.head()

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
0,FIVN11,Shoppings,2.08,1248.0,0.0,"0,00","0,00","0,00","0,00","0,00",...,6.567849e+07,6.98,30.0,NaN,NaN,NaN,NaN,"56,00",NaN,1
1,BZLI11,Títulos e Val. Mob.,14.70,44041.0,0.0,"0,00","0,00","0,00","0,00","0,00",...,4.310768e+08,10.70,137.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,XTED11,Lajes Corporativas,6.12,78.0,0.0,"0,00","0,00","0,00","0,00","0,00",...,2.730595e+07,13.89,44.0,NaN,NaN,NaN,NaN,"0,00","100,00",1
3,ALMI11,Lajes Corporativas,950.00,90.0,0.0,"0,00","0,00","0,00","0,00","0,00",...,2.496330e+08,2245.37,42.0,NaN,NaN,NaN,NaN,"64,05",NaN,1
4,PABY11,Híbrido,7.45,95.0,0.0,"0,00","0,00","0,00","0,00","0,00",...,-9.546408e+06,-12.59,-59.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [174]:
fii_df.iloc[0:0].transpose()

Empty DataFrame
Columns: []
Index: [Códigodo fundo, Setor, Preço Atual, Liquidez Diária, Dividendo, DividendYield, DY (3M)Acumulado, DY (6M)Acumulado, DY (12M)Acumulado, DY (3M)Média, DY (6M)Média, DY (12M)Média, DY Ano, Variação Preço, Rentab.Período, Rentab.Acumulada, PatrimônioLíq., VPA, P/VPA, DYPatrimonial, VariaçãoPatrimonial, Rentab. Patr.no Período, Rentab. Patr.Acumulada, VacânciaFísica, VacânciaFinanceira, QuantidadeAtivos]

In [175]:
set(fii_df.Setor)

{'Hospital',
 'Hotel',
 'Híbrido',
 'Lajes Corporativas',
 'Logística',
 'Outros',
 'Residencial',
 'Shoppings',
 'Títulos e Val. Mob.',
 nan}

In [176]:
fii_df['DividendYield'] = fii_df['DividendYield'].str.replace(',','.').astype(float)

In [177]:
fii_df['DY (3M)Acumulado'] = fii_df['DY (3M)Acumulado'].str.replace(',','.').astype(float)
fii_df['DY (6M)Acumulado'] = fii_df['DY (6M)Acumulado'].str.replace(',','.').astype(float)
fii_df['DY (12M)Acumulado'] = fii_df['DY (12M)Acumulado'].str.replace(',','.').astype(float)
fii_df['DY (3M)Média'] = fii_df['DY (3M)Média'].str.replace(',','.').astype(float)
fii_df['DY (6M)Média'] = fii_df['DY (6M)Média'].str.replace(',','.').astype(float)
fii_df['DY (12M)Média'] = fii_df['DY (12M)Média'].str.replace(',','.').astype(float)
fii_df['DY Ano'] = fii_df['DY Ano'].str.replace(',','.').astype(float)
fii_df['Variação Preço'] = fii_df['Variação Preço'].str.replace(',','.').astype(float)
fii_df['Rentab.Período'] = fii_df['Rentab.Período'].str.replace(',','.').astype(float)
fii_df['Rentab.Acumulada'] = fii_df['Rentab.Acumulada'].str.replace(',','.').astype(float)
fii_df['DYPatrimonial'] = fii_df['DYPatrimonial'].str.replace(',','.').astype(float)
fii_df['VariaçãoPatrimonial'] = fii_df['VariaçãoPatrimonial'].str.replace(',','.').astype(float)
fii_df['Rentab. Patr.no Período'] = fii_df['Rentab. Patr.no Período'].str.replace(',','.').astype(float)
fii_df['Rentab. Patr.Acumulada'] = fii_df['Rentab. Patr.Acumulada'].str.replace(',','.').astype(float)
fii_df['VacânciaFísica'] = fii_df['VacânciaFísica'].str.replace(',','.').astype(float)
fii_df['VacânciaFinanceira'] = fii_df['VacânciaFinanceira'].str.replace(',','.').astype(float)

In [178]:
fii_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           282 non-null    object
 1   Setor                    278 non-null    object
 2   Preço Atual              274 non-null    float64
 3   Liquidez Diária          274 non-null    float64
 4   Dividendo                282 non-null    float64
 5   DividendYield            276 non-null    float64
 6   DY (3M)Acumulado         276 non-null    float64
 7   DY (6M)Acumulado         276 non-null    float64
 8   DY (12M)Acumulado        276 non-null    float64
 9   DY (3M)Média             276 non-null    float64
 10  DY (6M)Média             276 non-null    float64
 11  DY (12M)Média            276 non-null    float64
 12  DY Ano                   262 non-null    float64
 13  Variação Preço           276 non-null    float64
 14  Rentab.Período           276 non-null    float64
 15  Rentab.Acumulada         276 non-null    float64
 16  PatrimônioLíq.           282 non-null    float64
 17  VPA                      282 non-null    float64
 18  P/VPA                    274 non-null    float64
 19  DYPatrimonial            246 non-null    float64
 20  VariaçãoPatrimonial      246 non-null    float64
 21  Rentab. Patr.no Período  246 non-null    float64
 22  Rentab. Patr.Acumulada   246 non-null    float64
 23  VacânciaFísica           123 non-null    float64
 24  VacânciaFinanceira       30 non-null     float64
 25  QuantidadeAtivos         282 non-null    int64
dtypes: float64(23), int64(1), object(2)
memory usage: 57.4+ KB

In [179]:
fii_df.isna().sum()/len(fii_df)*100

Códigodo fundo              0.000000
Setor                       1.418440
Preço Atual                 2.836879
Liquidez Diária             2.836879
Dividendo                   0.000000
DividendYield               2.127660
DY (3M)Acumulado            2.127660
DY (6M)Acumulado            2.127660
DY (12M)Acumulado           2.127660
DY (3M)Média                2.127660
DY (6M)Média                2.127660
DY (12M)Média               2.127660
DY Ano                      7.092199
Variação Preço              2.127660
Rentab.Período              2.127660
Rentab.Acumulada            2.127660
PatrimônioLíq.              0.000000
VPA                         0.000000
P/VPA                       2.836879
DYPatrimonial              12.765957
VariaçãoPatrimonial        12.765957
Rentab. Patr.no Período    12.765957
Rentab. Patr.Acumulada     12.765957
VacânciaFísica             56.382979
VacânciaFinanceira         89.361702
QuantidadeAtivos            0.000000
dtype: float64

In [180]:
fii_df.dropna(subset = ['Preço Atual', 'DividendYield', 'Setor'], inplace = True)

In [181]:
fii_df.shape

(264, 26)

In [182]:
fii_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 0 to 281
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           264 non-null    object
 1   Setor                    264 non-null    object
 2   Preço Atual              264 non-null    float64
 3   Liquidez Diária          264 non-null    float64
 4   Dividendo                264 non-null    float64
 5   DividendYield            264 non-null    float64
 6   DY (3M)Acumulado         264 non-null    float64
 7   DY (6M)Acumulado         264 non-null    float64
 8   DY (12M)Acumulado        264 non-null    float64
 9   DY (3M)Média             264 non-null    float64
 10  DY (6M)Média             264 non-null    float64
 11  DY (12M)Média            264 non-null    float64
 12  DY Ano                   258 non-null    float64
 13  Variação Preço           264 non-null    float64
 14  Rentab.Período           264 non-null    float64
 15  Rentab.Acumulada         264 non-null    float64
 16  PatrimônioLíq.           264 non-null    float64
 17  VPA                      264 non-null    float64
 18  P/VPA                    264 non-null    float64
 19  DYPatrimonial            236 non-null    float64
 20  VariaçãoPatrimonial      236 non-null    float64
 21  Rentab. Patr.no Período  236 non-null    float64
 22  Rentab. Patr.Acumulada   236 non-null    float64
 23  VacânciaFísica           121 non-null    float64
 24  VacânciaFinanceira       30 non-null     float64
 25  QuantidadeAtivos         264 non-null    int64
dtypes: float64(23), int64(1), object(2)
memory usage: 55.7+ KB